<!DOCTYPE html>
<html>
<head>
<body>
<title>About Us</title>
    <link rel="stylesheet" type="text/css" href="styler.css"/>
</head>

<h1>About Us</h1>
<hr>
<br>
<br>
<br>

<p>
Welcome to the Volunteer Scheduler. This is an application in which you
can find volunteer organization to volunteer for. We are a software engineering
of 5 total people that have worked on this application. The purpose that came
behind this project was to bring together volunteer and volunteer organizations.
This website application is trying to remove any middle men needed in the process.
If you don't have an account sign up <a href="Sign-up.html">here</a>. If you do have an account you may also
login <a href="Login.html">here</a>.
</p>

<p>
  <a href="Home.html">Home</a>
  <br>
  <a href="Login.html">Login</a>
  <br>
  <a href="CreateUser.html">Sign Up</a>
</p>




</body>
</html>
