<html>
<head>
    <meta charset="UTF-8"/>
    <title>Create User</title>
</head>
<link rel="stylesheet" type="text/css" href="styler.css"/>
<body>
    <div id="header">
        <h1>Event</h1>
    </div>

    <hr>

    <form id="createEvent" method="post" th:action="@{/events/create}">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="Name"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" name="description"/></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" name="address"/></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text" name="city"/></td>
            </tr>
            <tr>
                <td>State:</td>
                <td><input type="text" name="state"/></td>
            </tr>
            <tr>
                <td>Zip Code:</td>
                <td><input type="number" name="zipcode"/></td>
            </tr>
            <tr>
                <td>Date of Event:</td>
                <td><input type="text" name="doe"/></td>
            </tr>
            <tr>
                <td>Start of Event Time:</td>
                <td><input type="text" name="startTime"/></td>
            </tr>
            <tr>
                <td>End of Event Time:</td>
                <td><input type="text" name="endTime"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email"/></td>
            </tr>
            <tr>
                <td><input id="createEventSubmitButton" type="submit" name="submit" value="Submit" th:action="addEvent"/></td>
            </tr>
        </table>
    </form>
</body>
</html>
